.container{
    display: flex;
    flex-direction: column;
}

.up{
    display: flex;
    flex-direction: row;
}

.handle{
    color: grey;
    font-weight: normal;
}
.column1{
    font-weight: bold;
}

.pic{
    width: 45px;
    height: 45px;
    border-radius:50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 20px;
}
.down{
    border: solid;
    border-color: grey;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 340px;
    margin-left: 60px;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 18px;
    line-height: 25px;
}
.left{
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    width: 170px;
    height: 100px;
    background-color: rgb(193, 193, 193);
    border-color: rgb(190, 190, 190);
    display: flex;
    padding-top: 0px;
}
.right{
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.dcolumn1{
    color: grey;
    margin-top: 10px;
}