.right{
    background-color: green;
    color: white;
    right: 0;
    top: 0;
    width: 100px;
    bottom: 0;
    position: fixed;
}
.black{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0,0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}
.title{
    font-weight: bold;
    font-size: 23px;
}
.info{
    
}
.close{
    width: 15%;    
}
.container{
    background-color: white;
    position: fixed;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    width: 300px;
    border-radius: 10px;
}
