.container{
    display: flex;
    margin-left: 30px;
    top: 5;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.container1{
    display: flex;
    align-items: center;
    
}
.friend{
    color: white;
    background-color: rgb(0, 58, 151);
    border: none;
    border-radius: 5px;
    
}
.pic{
    border-radius: 100px;
    width: 40px;
    margin-right: 10px;
    
}
.container1{

}
.msg,.friend{
    font-size: 10px;
    border: none;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    font-weight: bold;
}